<!doctype html>
<html>

      <head>
         <!-- <link rel="stylesheet" href="static/main.css"> -->
      </head>

   <body>
         <h1>Here are the top 10 search results for you !</h1> 
        
            <a href="page1"><h4> {{ name1 }} </h4></a>     
            <a href="page2"><h4> {{ name2 }} </h4></a>     
            <a href="page3"><h4> {{ name3 }} </h4></a>     
            <a href="page4"><h4> {{ name4 }} </h4></a>   
            <a href="page5"><h4> {{ name5 }} </h4></a>   
            <a href="page6"><h4> {{ name6 }} </h4></a>    
            <a href="page7"><h4> {{ name7 }} </h4></a>   
            <a href="page8"><h4> {{ name8 }} </h4></a>    
            <a href="page9"><h4> {{ name9 }} </h4></a>   
            <a href="page10"><h4> {{ name10 }} </h4></a>  
         
   </body>
</html>

